*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
}
#container{
    height: 300px;
    width: 600px;
    background-color: white;
    border: 5px solid gray;
    margin: 100px auto 0px;
    display: flex;
    align-items: center;
}
#textBlock{
    font-family: sans-serif;
    padding: 20px;
}
#textBlock>*{
    font-size: 20px;
    margin: 10px 0;
}
#errorList{
    color: red;
}
#letterInp{
    border: none;
    border-bottom: 1px solid gray;
    text-align: center;
    width: 20px;
}
button{
    cursor: pointer;
}